<strong>Olá, {{ deliveryman }}</strong>
<p>Uma entrega foi cancelada</p>
<p>
  <strong>Entrega: </strong> {{product}} <br/>

  Dados da entrega: <br/>
    {{recipient}} <br/>
    {{street}} <br/>
    {{number}} <br/>
    {{complement}} <br/>
    {{city}} <br/>
    {{state}} <br/>
    {{zip_code}} <br/>
    {{date}} <br/>
    {{description}} <br/>


</p>
